.circle {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 8px solid #5fd6f7;
}
.crossContainer {
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cross {
  rotate: 45deg;
  background: #5fd6f7;
  height: 86px;
  position: relative;
  width: 8px;
}
.cross:after {
  background: #5fd6f7;
  content: "";
  height: 8px;
  left: -39px;
  position: absolute;
  top: 39px;
  width: 86px;
}
